In [1]:
import ipywidgets as widgets
import pandas as pd
import numpy as np
from IPython.display import display

# Python County Vulnerability Dashboard

In [5]:
data = pd.read_csv("data_index.csv")

data.drop(data.columns[0], axis = 1)

data.head()

,Unnamed: 0,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel
0,0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00
1,1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25
2,2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25
3,3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00
4,4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75

In [6]:
county_series = data["County"]

county_list = list(county_series)

In [7]:
buttons = widgets.Select(
    options = county_list,
    value = "Anne Arundel",
    description = "County",
    disabled = False,
    padding = "1000px"
)

display_var = None

In [8]:
button_list = []
for item in county_list:
    button_list.append(widgets.Button(description=item))
    
for item in button_list

SyntaxError: invalid syntax (<ipython-input-8-213a94f32bea>, line 5)

# Primary Dashboard Code

In [9]:
tab_nest = widgets.Tab()
accord_list = []
for item in county_list:
    # Large Housing Data
    item_large_housing = data["Large_Unt"].loc[(data["County"] == item)]
    string_large_housing = str(int(item_large_housing.iat[0]))
    
    # Crowded Units Data
    item_crowded_units = data["Crowded_Unt"].loc[(data["County"] == item)]
    string_crowded_units = str(int(item_crowded_units.iat[0]))
    
    # No vehicle Data
    item_no_vehicle = data["No_Vehicle"].loc[(data["County"] == item)]
    string_no_vehicle = str(int(item_no_vehicle.iat[0]))
    
    # No vehicle Data
    item_group_units = data["Group_Unt"].loc[(data["County"] == item)]
    string_group_units = str(int(item_group_units.iat[0]))
    
    accordion = widgets.Accordion(children=[widgets.HTML(
    value="<h1>" + str(item) + "</h1>"
        + "<h3>" + "The amount of residencies with more than 10 residences in " + str(item) + " county is " + "<b>" + string_large_housing + "</b>" + "</h3>"
        + "<h3>" + "The amount of 'crowded units', or units with more occupants than there are occupancies in " + str(item) + " county is " + "<b>" + string_crowded_units + "</b>" + "</h3>"
        + "<h3>" + "The amount of residences that do not own a vehicle in " + str(item) + " county is " + "<b>" + string_no_vehicle + "</b>" + "</h3>"
        + "<h3>" + "The amount of people in insitutional group housing in " + str(item) + " county is " + "<b>" + string_group_units + "</b>" + "</h3>",
    )])
    accord_list.append(accordion)
tab_nest.children = accord_list
index = 0
for item in county_list:
    tab_nest.set_title(index, item)
    index += 1
    
display(tab_nest)

Tab(children=(Accordion(children=(HTML(value="<h1>Anne Arundel</h1><h3>The amount of residencies with more thaâ€¦

In [10]:
data

,Unnamed: 0,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel
0,0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00
1,1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25
2,2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25
3,3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00
4,4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75
5,5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00
6,6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00
7,7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00
8,8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50
9,9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00
10,10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25
11,11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75
12,12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00
13,13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75
14,14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25
15,15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75
16,16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25
17,17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25
18,18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25
19,19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25
20,20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75
21,21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25
22,22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25
23,23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00
24,24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00

In [11]:
# data = data.drop(data.columns[0], axis = 1)

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00

In [20]:
data_large_unt_sd = data["Large_Unt"].std()
data_large_unt_mean = data["Large_Unt"].mean()
print(data_large_unt_sd, data_large_unt_mean)

data["Large_Unt_Z"] = data["Large_Unt"].apply(lambda x: (x - data_large_unt_mean) / data_large_unt_sd)

data

36610.30113360628 21963.52

,Unnamed: 0,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z
0,0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084
1,1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361
2,2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403
3,3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640
4,4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269
5,5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015
6,6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568
7,7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548
8,8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663
9,9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020
10,10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185
11,11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112
12,12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501
13,13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687
14,14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022
15,15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905
16,16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017
17,17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385
18,18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041
19,19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714
20,20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805
21,21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117
22,22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395
23,23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977
24,24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437

In [22]:
data_crowded_unt_sd = data["Crowded_Unt"].std()
data_crowded_unt_mean = data["Crowded_Unt"].mean()
print(data_crowded_unt_sd, data_crowded_unt_mean)

data["Crowded_Unt_Z"] = data["Crowded_Unt"].apply(lambda x: (x - data_crowded_unt_mean) / data_crowded_unt_sd)

data

3558.2316066645612 2257.6

,Unnamed: 0,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z
0,0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837
1,1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189
2,2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149
3,3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181
4,4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627
5,5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946
6,6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650
7,7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370
8,8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166
9,9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617
10,10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123
11,11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048
12,12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519
13,13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797
14,14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343
15,15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455
16,16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187
17,17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767
18,18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363
19,19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768
20,20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089
21,21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154
22,22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008
23,23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989
24,24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240

In [23]:
data_no_vehicle_sd = data["No_Vehicle"].std()
data_no_vehicle_mean = data["No_Vehicle"].mean()
print(data_no_vehicle_sd, data_no_vehicle_mean)

data["No_Vehicle_Z"] = data["No_Vehicle"].apply(lambda x: (x - data_no_vehicle_mean) / data_no_vehicle_sd)

data

24106.143197533693 12075.88

,Unnamed: 0,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z,No_Vehicle_Z
0,0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837,-0.165389
1,1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189,0.531114
2,2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149,-0.446645
3,3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181,-0.389481
4,4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627,-0.429056
5,5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946,-0.316553
6,6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650,-0.312115
7,7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370,-0.478753
8,8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166,-0.310372
9,9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617,-0.464192
10,10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123,-0.413458
11,11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048,-0.462740
12,12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519,-0.392716
13,13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797,-0.423207
14,14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343,-0.449134
15,15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455,-0.336092
16,16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187,-0.465976
17,17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767,-0.463528
18,18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363,0.676679
19,19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768,-0.439136
20,20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089,-0.371270
21,21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154,0.650628
22,22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008,2.455022
23,23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989,-0.458218
24,24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240,3.674587

In [19]:
data_group_unt_sd = data["Group_Unt"].std()
data_group_unt_mean = data["Group_Unt"].mean()
print(data_group_unt_sd, data_group_unt_mean)

data["No_Vehicle_Z"] = data["No_Vehicle"].apply(lambda x: (x - data_no_vehicle_mean) / data_no_vehicle_sd)

data

9725.664454250242 7211.92