In [43]:
import ipywidgets as widgets
import pandas as pd
import numpy as np
from IPython.display import display

# Python County Vulnerability Dashboard

In [11]:
data = pd.read_csv("data_index.csv")

data.head()

,Unnamed: 0,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel
0,0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00
1,1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25
2,2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25
3,3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00
4,4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75

In [12]:
data.drop(data.columns[0], axis = 1)

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00

In [13]:
county_series = data["County"]

county_list = list(county_series)

In [14]:
buttons = widgets.Select(
    options = county_list,
    value = "Anne Arundel",
    description = "County",
    disabled = False,
    padding = "1000px"
)

display_var = None

# Primary Dashboard Code

In [21]:
tab_nest = widgets.Tab()
accord_list = []
for item in county_list:
    # Large Housing Data
    item_large_housing = data["Large_Unt"].loc[(data["County"] == item)]
    string_large_housing = str(int(item_large_housing.iat[0]))
    
    # Crowded Units Data
    item_crowded_units = data["Crowded_Unt"].loc[(data["County"] == item)]
    string_crowded_units = str(int(item_crowded_units.iat[0]))
    
    # No vehicle Data
    item_no_vehicle = data["No_Vehicle"].loc[(data["County"] == item)]
    string_no_vehicle = str(int(item_no_vehicle.iat[0]))
    
    # No vehicle Data
    item_group_units = data["Group_Unt"].loc[(data["County"] == item)]
    string_group_units = str(int(item_group_units.iat[0]))
    
    # Residential Parcel Data
    item_res_parcel = data["Res_Parcel"].loc[(data["County"] == item)]
    string_res_parcel = str(int(item_res_parcel.iat[0]))
    
    accordion = widgets.Accordion(children=[widgets.HTML(
    value="<h1>" + str(item) + "</h1>"
        + "<h3>" + "The amount of residencies with more than 10 residences in " + str(item) + " county is " + "<b>" + string_large_housing + "</b>" + "</h3>"
        + "<h3>" + "The amount of 'crowded units', or units with more occupants than there are occupancies in " + str(item) + " county is " + "<b>" + string_crowded_units + "</b>" + "</h3>"
        + "<h3>" + "The amount of residences that do not own a vehicle in " + str(item) + " county is " + "<b>" + string_no_vehicle + "</b>" + "</h3>"
        + "<h3>" + "The amount of people in insitutional group housing in " + str(item) + " county is " + "<b>" + string_group_units + "</b>" + "</h3>"
        + "<h3>" + "The Amount of Residential Parcels developed on in 2014 in " + str(item) + " county is " + "<b>" + string_res_parcel + "</b>" + "</h3>",
    ),
                                            widgets.HTML(
    value="<h1>" + str(item) + "</h1>"
        + "<h3>" + "The amount of residencies with more than 10 residences in " + str(item) + " county is " + "<b>" + string_large_housing + "</b>" + "</h3>"
        + "<h3>" + "The amount of 'crowded units', or units with more occupants than there are occupancies in " + str(item) + " county is " + "<b>" + string_crowded_units + "</b>" + "</h3>"
        + "<h3>" + "The amount of residences that do not own a vehicle in " + str(item) + " county is " + "<b>" + string_no_vehicle + "</b>" + "</h3>"
        + "<h3>" + "The amount of people in insitutional group housing in " + str(item) + " county is " + "<b>" + string_group_units + "</b>" + "</h3>"
        + "<h3>" + "The Amount of Residential Parcels developed on in 2014 in " + str(item) + " county is " + "<b>" + string_res_parcel + "</b>" + "</h3>",
    )])
    accord_list.append(accordion)
tab_nest.children = accord_list
index = 0
for item in county_list:
    tab_nest.set_title(index, item)
    index += 1
    
display(tab_nest)

Tab(children=(Accordion(children=(HTML(value="<h1>Anne Arundel</h1><h3>The amount of residencies with more thaâ€¦

In [8]:
data

,Unnamed: 0,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel
0,0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00
1,1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25
2,2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25
3,3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00
4,4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75
5,5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00
6,6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00
7,7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00
8,8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50
9,9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00
10,10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25
11,11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75
12,12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00
13,13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75
14,14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25
15,15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75
16,16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25
17,17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25
18,18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25
19,19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25
20,20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75
21,21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25
22,22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25
23,23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00
24,24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00

In [11]:
# data = data.drop(data.columns[0], axis = 1)

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00

In [24]:
data_large_unt_sd = data["Large_Unt"].std()
data_large_unt_mean = data["Large_Unt"].mean()
print(data_large_unt_sd, data_large_unt_mean)

data["Large_Unt_Z"] = data["Large_Unt"].apply(lambda x: (x - data_large_unt_mean) / data_large_unt_sd)

data

36610.30113360628 21963.52

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437

In [25]:
data_crowded_unt_sd = data["Crowded_Unt"].std()
data_crowded_unt_mean = data["Crowded_Unt"].mean()
print(data_crowded_unt_sd, data_crowded_unt_mean)

data["Crowded_Unt_Z"] = data["Crowded_Unt"].apply(lambda x: (x - data_crowded_unt_mean) / data_crowded_unt_sd)

data

3558.2316066645612 2257.6

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240

In [26]:
data_no_vehicle_sd = data["No_Vehicle"].std()
data_no_vehicle_mean = data["No_Vehicle"].mean()
print(data_no_vehicle_sd, data_no_vehicle_mean)

data["No_Vehicle_Z"] = data["No_Vehicle"].apply(lambda x: (x - data_no_vehicle_mean) / data_no_vehicle_sd)

data

24106.143197533693 12075.88

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z,No_Vehicle_Z
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837,-0.165389
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189,0.531114
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149,-0.446645
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181,-0.389481
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627,-0.429056
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946,-0.316553
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650,-0.312115
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370,-0.478753
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166,-0.310372
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617,-0.464192
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123,-0.413458
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048,-0.462740
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519,-0.392716
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797,-0.423207
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343,-0.449134
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455,-0.336092
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187,-0.465976
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767,-0.463528
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363,0.676679
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768,-0.439136
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089,-0.371270
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154,0.650628
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008,2.455022
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989,-0.458218
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240,3.674587

In [27]:
data_group_unt_sd = data["Group_Unt"].std()
data_group_unt_mean = data["Group_Unt"].mean()
print(data_group_unt_sd, data_group_unt_mean)

data["Group_Unt_Z"] = data["Group_Unt"].apply(lambda x: (x - data_group_unt_mean) / data_group_unt_sd)

data

9725.664454250242 7211.92

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z,No_Vehicle_Z,Group_Unt_Z
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837,-0.165389,0.913056
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189,0.531114,1.396931
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149,-0.446645,-0.674701
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181,-0.389481,-0.383822
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627,-0.429056,-0.582163
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946,-0.316553,-0.266092
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650,-0.312115,-0.540932
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370,-0.478753,-0.693826
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166,-0.310372,0.169251
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617,-0.464192,-0.680254
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123,-0.413458,-0.446439
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048,-0.462740,-0.700509
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519,-0.392716,-0.319764
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797,-0.423207,-0.521807
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343,-0.449134,-0.681899
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455,-0.336092,-0.522218
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187,-0.465976,-0.689405
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767,-0.463528,-0.573526
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363,0.676679,0.161951
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768,-0.439136,-0.664111
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089,-0.371270,0.044427
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154,0.650628,1.201057
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008,2.455022,1.752691
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989,-0.458218,-0.065797
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240,3.674587,3.367902

In [28]:
data_pop_total_sd = data["Pop_Total"].std()
data_pop_total_mean = data["Pop_Total"].mean()
print(data_pop_total_sd, data_pop_total_mean)

data["Pop_Total_Z"] = data["Pop_Total"].apply(lambda x: (x - data_pop_total_mean) / data_pop_total_sd)

data

313510.8336466913 269806.52

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z,No_Vehicle_Z,Group_Unt_Z,Pop_Total_Z
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837,-0.165389,0.913056,0.976759
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189,0.531114,1.396931,1.781835
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149,-0.446645,-0.674701,-0.567137
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181,-0.389481,-0.383822,-0.323362
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627,-0.429056,-0.582163,-0.532615
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946,-0.316553,-0.266092,-0.045161
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650,-0.312115,-0.540932,-0.050558
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370,-0.478753,-0.693826,-0.700312
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166,-0.310372,0.169251,-0.379191
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617,-0.464192,-0.680254,-0.767576
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123,-0.413458,-0.446439,-0.501235
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048,-0.462740,-0.700509,-0.742681
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519,-0.392716,-0.319764,-0.531438
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797,-0.423207,-0.521807,-0.345454
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343,-0.449134,-0.681899,-0.758534
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455,-0.336092,-0.522218,0.170295
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187,-0.465976,-0.689405,-0.754368
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767,-0.463528,-0.573526,-0.798772
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363,0.676679,0.161951,2.496757
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768,-0.439136,-0.664111,-0.695298
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089,-0.371270,0.044427,-0.634209
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154,0.650628,1.201057,2.039807
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008,2.455022,1.752691,1.061171
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989,-0.458218,-0.065797,-0.778702
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240,3.674587,3.367902,1.379979

In [22]:
#data = data.drop(data.columns[0], axis = 1)

In [30]:
data_res_parcel_sd = data["Res_Parcel"].std()
data_res_parcel_mean = data["Res_Parcel"].mean()
print(data_res_parcel_sd, data_res_parcel_mean)

data["Res_Parcel_Z"] = data["Res_Parcel"].apply(lambda x: (x - data_res_parcel_mean) / data_res_parcel_sd)

452.2283238310047 390.83

In [39]:

"""We decided to exclude Median Income and Population Density"""

data

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z,No_Vehicle_Z,Group_Unt_Z,Pop_Total_Z,Res_Parcel_Z
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837,-0.165389,0.913056,0.976759,2.353170
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189,0.531114,1.396931,1.781835,0.843424
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149,-0.446645,-0.674701,-0.567137,-0.374988
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181,-0.389481,-0.383822,-0.323362,-0.134512
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627,-0.429056,-0.582163,-0.532615,-0.499924
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946,-0.316553,-0.266092,-0.045161,0.363025
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650,-0.312115,-0.540932,-0.050558,0.121996
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370,-0.478753,-0.693826,-0.700312,-0.463991
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166,-0.310372,0.169251,-0.379191,-0.440773
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617,-0.464192,-0.680254,-0.767576,-0.709443
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123,-0.413458,-0.446439,-0.501235,-0.038874
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048,-0.462740,-0.700509,-0.742681,-0.767488
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519,-0.392716,-0.319764,-0.531438,-0.620992
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797,-0.423207,-0.521807,-0.345454,0.749444
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343,-0.449134,-0.681899,-0.758534,-0.779650
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455,-0.336092,-0.522218,0.170295,1.275727
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187,-0.465976,-0.689405,-0.754368,-0.812819
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767,-0.463528,-0.573526,-0.798772,-0.786284
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363,0.676679,0.161951,2.496757,2.072891
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768,-0.439136,-0.664111,-0.695298,-0.662453
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089,-0.371270,0.044427,-0.634209,-0.794024
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154,0.650628,1.201057,2.039807,2.110483
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008,2.455022,1.752691,1.061171,-0.454593
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989,-0.458218,-0.065797,-0.778702,-0.817795
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240,3.674587,3.367902,1.379979,-0.731555

In [44]:
data.assign((data["Large_Unt_Z"] + data["Crowded_Unt_Z"] + data["No_Vehicle_Z"] data["Pop_Total_Z"] + data["Res_Parcel_Z"])/5)

SyntaxError: invalid syntax (<ipython-input-44-5daee48f3372>, line 1)

In [45]:
data

,County,Large_Unt,Crowded_Unt,No_Vehicle,Group_Unt,Pop_Total,Pop_Dens,Median_Inc,Res_Parcel,Large_Unt_Z,Crowded_Unt_Z,No_Vehicle_Z,Group_Unt_Z,Pop_Total_Z,Res_Parcel_Z
0,Anne Arundel,28410.0,3264.0,8089.0,16092.0,576031,1295.9,96133,1455.00,0.176084,0.282837,-0.165389,0.913056,0.976759,2.353170
1,Baltimore,62724.0,5144.0,24879.0,20798.0,828431,1345.5,73309,772.25,1.113361,0.811189,0.531114,1.396931,1.781835,0.843424
2,Calvert,1447.0,389.0,1309.0,650.0,92003,416.3,100000,221.25,-0.560403,-0.525149,-0.446645,-0.674701,-0.567137,-0.374988
3,Carroll,3818.0,396.0,2687.0,3479.0,168429,373.4,92890,330.00,-0.495640,-0.523181,-0.389481,-0.383822,-0.323362,-0.134512
4,Cecil,2477.0,583.0,1733.0,1550.0,102826,292.0,72259,164.75,-0.532269,-0.470627,-0.429056,-0.582163,-0.532615,-0.499924
5,Frederick,10028.0,1354.0,4445.0,4624.0,255648,353.5,91727,555.00,-0.326015,-0.253946,-0.316553,-0.266092,-0.045161,0.363025
6,Harford,10081.0,985.0,4552.0,1951.0,253956,560.1,80922,446.00,-0.324568,-0.357650,-0.312115,-0.540932,-0.050558,0.121996
7,Queen Anne's,380.0,253.0,535.0,464.0,50251,128.5,90696,181.00,-0.589548,-0.563370,-0.478753,-0.693826,-0.700312,-0.463991
8,Washington,5428.0,1065.0,4594.0,8858.0,150926,322.1,59828,191.50,-0.451663,-0.335166,-0.310372,0.169251,-0.379191,-0.440773
9,Garrett,619.0,92.0,886.0,596.0,29163,46.5,46899,70.00,-0.583020,-0.608617,-0.464192,-0.680254,-0.767576,-0.709443
10,St. Mary's,2956.0,414.0,2109.0,2870.0,112664,294.4,82433,373.25,-0.519185,-0.518123,-0.413458,-0.446439,-0.501235,-0.038874
11,Talbot,579.0,62.0,921.0,399.0,36968,140.7,70620,43.75,-0.584112,-0.617048,-0.462740,-0.700509,-0.742681,-0.767488
12,Wicomico,4958.0,957.0,2609.0,4102.0,103195,263.7,52341,110.00,-0.464501,-0.365519,-0.392716,-0.319764,-0.531438,-0.620992
13,Charles,3560.0,650.0,1874.0,2137.0,161503,320.2,94478,729.75,-0.502687,-0.451797,-0.423207,-0.521807,-0.345454,0.749444
14,Dorchester,985.0,125.0,1249.0,580.0,31998,60.3,47011,38.25,-0.573022,-0.599343,-0.449134,-0.681899,-0.758534,-0.779650
15,Howard,19807.0,2135.0,3974.0,2133.0,323196,1144.9,111576,967.75,-0.058905,-0.034455,-0.336092,-0.522218,0.170295,1.275727
16,Caroline,253.0,275.0,843.0,507.0,33304,103.5,56338,23.25,-0.593017,-0.557187,-0.465976,-0.689405,-0.754368,-0.812819
17,Kent,569.0,63.0,902.0,1634.0,19383,72.9,57760,35.25,-0.584385,-0.616767,-0.463528,-0.573526,-0.798772,-0.786284
18,Montgomery,102947.0,10973.0,28388.0,8787.0,1052567,1978.2,102944,1328.25,2.212041,2.449363,0.676679,0.161951,2.496757,2.072891
19,Worcester,19814.0,216.0,1490.0,753.0,51823,109.9,61405,91.25,-0.058714,-0.573768,-0.439136,-0.664111,-0.695298,-0.662453
20,Allegany,1835.0,254.0,3126.0,7644.0,70975,177.0,42564,31.75,-0.549805,-0.563089,-0.371270,0.044427,-0.634209,-0.794024
21,Prince George's,75968.0,11812.0,27760.0,18893.0,909308,1788.8,80858,1345.25,1.475117,2.685154,0.650628,1.201057,2.039807,2.110483
22,Baltimore City,48374.0,4969.0,71257.0,24258.0,602495,7671.5,46762,185.25,0.721395,0.762008,2.455022,1.752691,1.061171,-0.454593
23,Somerset,767.0,80.0,1030.0,6572.0,25675,82.8,40320,21.00,-0.578977,-0.611989,-0.458218,-0.065797,-0.778702,-0.817795
24,District of Columbia,140304.0,9930.0,100656.0,39967.0,702445,11506.0,77649,60.00,3.232437,2.156240,3.674587,3.367902,1.379979,-0.731555